<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Hermes - Mensagens</title>
    <link rel="icon" href="{{ url_for('static', filename='hermes_icon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <h2>Você está logado como {{ session['user_id'] }}</h2>

    <hr>

    <form id="send-form">
        Usuário destino:<input type="number" name="to_id" min="0" max="9999" required><br>
        Texto: <textarea name="msg_text" rows="3" cols="40" placeholder="..." required></textarea><br>
        <button type="submit">Enviar</button>
    </form>
    <div id="sent-msg"></div>

    <hr>

    <a href="{{ url_for('logout') }}">Sair</a><br>
    <button onclick="getUsers()">Ver usuários ativos</button>
    <button onclick="getMessage()">Mensagens não lidas</button>
    <div>
        <h4>Usuários ativos:</h4>
        <p id="active-users"></p>
    </div>
    <div>
        <h4>Mensagens não lidas:</h4>
        <p id="received-msg"></p>
    </div>
</body>
</html>
